* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: cursive;
}

.custom-menu {
  color: #fff !important;
}

.forget-password {
  color: #5e5e5f8f;
}

.forget-password:hover {
  color: #049170;
}


